skip_commits:
  files:
    - '*.md'
    - '.gitignore'
platform:
    - x86
    - x64
image:
    - Visual Studio 2013
    - Visual Studio 2015
    - Visual Studio 2017
configuration:
    - Release
    - Debug
install:
    - if "%COMPILER%"=="mingw" set PATH=C:\MinGW\bin;%PATH%
    - if "%COMPILER%"=="mingw-w64" set PATH=C:\MinGW\bin;%PATH%
build_script:
    - set CTEST_OUTPUT_ON_FAILURE=1
    - mkdir -p build
    - cd build
    - cmake -G "%GENERATOR%" -DCMAKE_BUILD_TYPE="%BUILD_TYPE%" ..
    - if "%COMPILER%"=="msvc" cmake --build . --config "%BUILD_TYPE%"
    - if not "%COMPILER%"=="msvc" cmake --build .
    - ctest -V -C "%BUILD_TYPE%"
matrix:
    fast_finish: true
on_failure:
    - echo Testing/Temporary/LastTest.log
